In [3]:
print('hello my project!')

hello my project!

In [4]:
import yfinance as yf
BTC_Ticker = yf.Ticker("BTC-USD")
BTC_Data = BTC_Ticker.history(period="1y")
#display(BTC_Data)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,19298407543,0.0,0.0
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,26792494050,0.0,0.0
2023-01-17 00:00:00+00:00,21175.833984,21438.660156,20978.533203,21161.519531,24999983362,0.0,0.0
2023-01-18 00:00:00+00:00,21161.050781,21564.501953,20541.544922,20688.781250,30005625418,0.0,0.0
2023-01-19 00:00:00+00:00,20686.746094,21163.011719,20685.380859,21086.792969,21152848261,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-10 00:00:00+00:00,46121.539062,47647.222656,44483.152344,46627.777344,50114613298,0.0,0.0
2024-01-11 00:00:00+00:00,46656.074219,48969.371094,45678.644531,46368.585938,45833734549,0.0,0.0
2024-01-12 00:00:00+00:00,46354.792969,46498.136719,41903.769531,42853.167969,43332698900,0.0,0.0
2024-01-13 00:00:00+00:00,42799.445312,43234.660156,42464.144531,42842.382812,20601860469,0.0,0.0
2024-01-15 00:00:00+00:00,41715.066406,42237.160156,41715.066406,42237.160156,18342756352,0.0,0.0

In [5]:
from cryptocmd import CmcScraper

# initialise scraper without time interval for max historical data
scraper = CmcScraper("BTC")
# Pandas dataFrame for the same data
df = scraper.get_dataframe()

In [7]:
# initialise scraper with time interval for e.g a year from today
from datetime import date

today = date.today()
print(today.strftime("%d-%m-%Y"))
scraper = CmcScraper("BTC", "12-12-2020", today.strftime("%d-%m-%Y"))
# Pandas dataFrame for the same data
df = scraper.get_dataframe()

15-01-2024

,Date,Open,High,Low,Close,Volume,Market Cap,Time Open,Time High,Time Low,Time Close
0,2024-01-13,42799.446488,43234.661777,42464.143204,42842.382191,2.060186e+10,8.396274e+11,2024-01-13T00:00:00.000Z,2024-01-13T08:30:00.000Z,2024-01-13T03:31:00.000Z,2024-01-13T23:59:59.999Z
1,2024-01-12,46354.793188,46498.134821,41903.770751,42853.166658,4.333270e+10,8.397964e+11,2024-01-12T00:00:00.000Z,2024-01-12T00:47:00.000Z,2024-01-12T22:30:00.000Z,2024-01-12T23:59:59.999Z
2,2024-01-11,46656.073084,48969.371400,45678.645398,46368.585382,4.583373e+10,9.086400e+11,2024-01-11T00:00:00.000Z,2024-01-11T14:52:00.000Z,2024-01-11T06:19:00.000Z,2024-01-11T23:59:59.999Z
3,2024-01-10,46121.539825,47647.220985,44483.150861,46627.779112,5.011461e+10,9.136693e+11,2024-01-10T00:00:00.000Z,2024-01-10T23:20:00.000Z,2024-01-10T13:01:00.000Z,2024-01-10T23:59:59.999Z
4,2024-01-09,46987.638741,47893.701008,45244.715148,46139.730375,3.982129e+10,9.040673e+11,2024-01-09T00:00:00.000Z,2024-01-09T21:15:00.000Z,2024-01-09T21:27:00.000Z,2024-01-09T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...
1123,2020-12-16,19418.818401,21458.907897,19298.317277,21310.598131,4.440901e+10,3.957999e+11,2020-12-16T00:00:00.000Z,2020-12-16T23:19:41.000Z,2020-12-16T00:31:39.000Z,2020-12-16T23:59:59.999Z
1124,2020-12-15,19246.919984,19525.007591,19079.842377,19417.076033,2.674198e+10,3.606148e+11,2020-12-15T00:00:00.000Z,2020-12-15T20:08:41.000Z,2020-12-15T05:19:41.000Z,2020-12-15T23:59:59.999Z
1125,2020-12-14,19144.492460,19305.100443,19012.709408,19246.644341,2.247400e+10,3.574326e+11,2020-12-14T00:00:00.000Z,2020-12-14T23:21:27.000Z,2020-12-14T01:04:41.000Z,2020-12-14T23:59:59.999Z
1126,2020-12-13,18806.766479,19381.535773,18734.332888,19142.382534,2.545047e+10,3.554792e+11,2020-12-13T00:00:00.000Z,2020-12-13T13:07:39.000Z,2020-12-13T00:40:43.000Z,2020-12-13T23:59:59.999Z
1127,2020-12-12,18051.319990,18919.551228,18046.040724,18803.656870,2.175258e+10,3.491706e+11,2020-12-12T00:00:00.000Z,2020-12-12T22:43:39.000Z,2020-12-12T00:01:41.000Z,2020-12-12T23:59:59.999Z

In [8]:
#hw test 1st and second approach but the second one is more extensive
# get raw data as list of list
headers, data = scraper.get_data()

# get data in a json format
json_data = scraper.get_data("json")

# export the data to csv
scraper.export("csv",name='data')